---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Base title={post.data.title}>
  <article>
    <header>
      <Image
        src={post.data.cover}
        alt={post.data.title}
        transition:name={post.slug}
      />

      <h1>{post.data.title}</h1>

      <time>{post.data.date.toDateString()}</time>
      {
        post.data.updatedDate && (
          <>
            更新:
            <time>{post.data.updatedDate.toDateString()}</time>
          </>
        )
      }

      <ul>
        {
          post.data.tags.map((tag) => (
            <li>
              <a href={`/blog/tag/${tag}/`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </header>

    <Content />
  </article>
</Base>

<style lang="less">
  @import "@/styles/common.less";

  article {
    margin: 80px auto 0;
    max-width: 800px;
    @media (width < @xl) {
      margin: 0;
      padding: 16px;
    }
  }

  header {
    @media (width < @xl) {
      margin: -16px -16px 0;
    }
    img {
      display: block;
      border-radius: 6px;
      border: 1px solid rgba(@main, 0.1);
      @media (width < @xl) {
        border-radius: 24px 24px 0 0;
        border-width: 0 0 1px;
      }
      @media (width < @xs) {
        border-radius: 0;
      }
    }
  }

  // 本文エリア
  article {
    h2 {
      background: red;
      opacity: 0.1;
    }
  }
</style>
