---
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";

const blog = await getCollection("blog");
const tags = [...new Set(blog.map((post) => post.data.tags).flat())];

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const uniqueTags = [
    ...new Set(allPosts.map((blog) => blog.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((blog) =>
      blog.data.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base title="Blog">
  <h2>タグ一覧</h2>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/blog/tag/${tag}/`}>{tag}</a>
        </li>
      ))
    }
  </ul>

  <h2>記事リスト</h2>
  <ul>
    {
      posts.map((blog) => (
        <li>
          <a href={`/blog/${blog.slug}/`}>
            <img
              width={720}
              height={360}
              src={blog.data.heroImage}
              alt="{blog.data.title}"
              transition:name={blog.slug}
            />
            <h4 class="title">{blog.data.title}</h4>
          </a>
        </li>
      ))
    }
  </ul>
</Base>
