---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const posts = await await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
// 3つか5つ程度まで制限
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>
          <Image
            src={post.data.cover}
            alt={post.data.title}
            transition:name={post.slug}
          />
          <h4 class="title">{post.data.title}</h4>
          <p>{post.data.date.toDateString()}</p>
          // TODO: Tag2つ表示 // 日付
        </a>
      </li>
    ))
  }
</ul>

<style lang="less">
  @import "@/styles/common.less";
  ul {
    margin-top: 16px;
    display: flex;
  }
</style>
