---
import Logo from "@/assets/logo.svg";

const currentPath = Astro.url.pathname;
const pageList = ["blog", "works", "me", "price"];
---

<nav class="l-nav">
  <h1 class="logo">
    <a href="/">
      <img src={Logo.src} width={Logo.width} height={Logo.height} alt="WEBA" />
    </a>
  </h1>

  <ul class="menu">
    {
      pageList.map((path) => {
        // Build後はpathnameの末尾にスラシュがつくのでそれを考慮
        const isActive = new RegExp(`^/${path}/?$`).test(currentPath);

        return (
          <li>
            {isActive && (
              <div class="navIndicator" transition:name="navIndicator" />
            )}

            <a
              class={isActive ? "active" : ""}
              href={`/${path}`}
              data-lottie-container
            >
              <dotlottie-player
                autoplay={isActive ? "autoplay" : null}
                loop="false"
                src={`/lottie/${path}.lottie`}
              />
              {path.toUpperCase()}
            </a>
          </li>
        );
      })
    }
  </ul>

  <a
    class:list={["contact", { active: /^\/contact\/?$/.test(currentPath) }]}
    href="/contact"
    data-lottie-container
  >
    <dotlottie-player
      autoplay={/^\/contact\/?$/.test(currentPath) ? "autoplay" : null}
      loop="false"
      src="/lottie/contact.lottie"></dotlottie-player>
     CONTACT
  </a>
</nav>

<script>
  import "@dotlottie/player-component";
</script>

<style lang="less">
  @import "@/styles/common.less";

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    @media (width < @xl) {
      gap: 32px;
    }
    @media (width < @lg) {
      align-items: start;
      padding: 32px 8px 0;
      gap: 8px;
    }
    @media (width < @xs) {
      padding-top: 24px;
    }
  }

  dotlottie-player {
    width: 36px;
    height: 36px;
    @media (width < @xs) {
      width: 32px;
      height: 32px;
    }
  }

  @width: 168px;

  .logo {
    width: @width;
    margin-top: -16vh;
    @media (width < @lg) {
      margin-top: 0;
      width: 128px;
    }
  }

  .menu {
    width: @width;
    @media (width < @lg) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    @media (width < @xs) {
      padding: 0 16px;
    }

    li {
      position: relative;
      margin-top: 16px;

      .navIndicator {
        position: absolute;
        right: 105%;
        bottom: 12px;
        width: 12px;
        height: 16px;
        clip-path: polygon(0 0, 100% 50%, 0 100%);
        background-color: #fff;
        opacity: 0.7;
        transition: 0.2s ease-out;
        @media (width < @lg) {
          width: 48px;
          height: 4px;
          bottom: -8px;
          right: calc(50% - 24px);
          clip-path: none;
          border-radius: 4px 4px 0 0;
        }
        @media (width < @xs) {
          width: 32px;
          right: calc(50% - 16px);
        }
      }
    }

    a {
      display: flex;
      height: 40px;
      opacity: 0.7;
      align-items: center;
      gap: 6px;
      font-size: 20px;
      font-weight: 500;
      font-variation-settings: "wght" 500;
      color: #fff;
      text-shadow: 0 0 24px rgba(#840, 0.2);
      @media (width < @lg) {
        font-size: 18px;
      }
      @media (width < @sm) {
        font-size: 16px;
        gap: 2px;
      }
      @media (width < @xs) {
        flex-direction: column;
        height: auto;
        gap: 0;
        font-size: 12px;
      }
      &.active,
      &:hover,
      &:active {
        opacity: 1;
        font-variation-settings: "wght" 700;
      }
    }
  }

  .contact {
    width: @width;
    display: flex;
    gap: 6px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    font-variation-settings: "wght" 500;
    background: rgba(#fff, 0.2);
    color: rgba(#fff, 0.8);
    text-shadow: 0 0 24px rgba(#840, 0.2);
    &.active,
    &:hover,
    &:active {
      background: rgba(#fff, 0.4);
      color: rgba(#fff, 1);
      font-variation-settings: "wght" 700;
    }
    @media (width < @lg) {
      width: auto;
      height: 40px;
      padding: 0 12px 0 8px;
      position: absolute;
      top: 28px;
      right: 0;
    }
    @media (width < @xs) {
      top: 20px;
      gap: 2px;
      font-size: 14px;
    }
  }
</style>
